html{line-height:1.15;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}article,aside,footer,header,nav,section{display:block}h1{font-size:2em;margin:.67em 0}figcaption,figure,main{display:block}figure{margin:1em 40px}hr{box-sizing:content-box;height:0;overflow:visible}pre{font-family:monospace,monospace;font-size:1em}a{background-color:transparent;-webkit-text-decoration-skip:objects}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:inherit}b,strong{font-weight:bolder}code,kbd,samp{font-family:monospace,monospace;font-size:1em}dfn{font-style:italic}mark{background-color:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}audio,video{display:inline-block}audio:not([controls]){display:none;height:0}img{border-style:none}svg:not(:root){overflow:hidden}button,input,optgroup,select,textarea{font-family:sans-serif;font-size:100%;line-height:1.15;margin:0}button,input{overflow:visible}button,select{text-transform:none}button,html [type=button],[type=reset],[type=submit]{-webkit-appearance:button}button::-moz-focus-inner,[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner{border-style:none;padding:0}button:-moz-focusring,[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring{outline:1px dotted ButtonText}fieldset{padding:.35em .75em .625em}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}progress{display:inline-block;vertical-align:baseline}textarea{overflow:auto}[type=checkbox],[type=radio]{box-sizing:border-box;padding:0}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}details,menu{display:block}summary{display:list-item}canvas{display:inline-block}template{display:none}[hidden]{display:none}

.clearfix:after {visibility: hidden; display: block; font-size: 0; content: ''; clear: both; height: 0; }

html { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;}

*, *:before, *:after {box-sizing: inherit}

.sr-only { position: absolute; width: 1px; height: 1px; margin: -1px; border: 0; padding: 0; white-space: nowrap; clip-path: inset(100%); clip: rect(0 0 0 0); overflow: hidden;}

/* GLOBAL STYLING */
/* * {
    border: 1px solid rebeccapurple;
} */

html {
    font-size: 125%;
}

.wrapper {
    max-width: 1280px;
    width: 80%;
    margin: 0 auto;
}

/* GENERAL STYLING */
h1,
h2,
h3 {
    /* font styling */
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    color: #333;
    text-transform: uppercase;

    /* marg/pad styling */
    padding: 0;
    margin: 0;
}

h1 {
    font-size: 1.8rem;
    font-weight: 700;
    letter-spacing: 0.9px;
}

h2 {
    font-size: 0.9rem;
    font-weight: 400;
    letter-spacing: 1.8px;
    line-height: 24px;
}

h3 {
    font-size: 0.75rem;
    letter-spacing: 1.8px;
    line-height: 24px;
    font-weight: 400;
}

p {
    /* font styling */
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    color: #333;
    font-size: 0.7rem;
    letter-spacing: 0.3px;
    line-height: 24px;

    /* marg/pad styling */
    padding: 0;
    margin: 0;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    color: #333;
    text-transform: uppercase;
    font-size: 0.7rem;
    text-decoration: none;
}

i {
    font-size: 0.7rem;
}

/* HEADER STYLING */ 
header {
    /* background styling */
    background: url("creative_assets/home_1.jpeg") no-repeat fixed;
    background-size: cover;
    background-position: 80% 100%;

    position: relative;
    /* size styling */
    height: 100vh;

    /* marg/pad styling */
    padding-top: 40px;
}

header .nav_items {
    position: relative;
    display: flex;
    justify-content: space-between;
}

header .logo {
    position: absolute;
    top: 50%; 
    left: 50%;
    transform: translate(-50%, -50%);
}

header nav {
    display: flex;
    width: 100%;
    justify-content: space-between;
    flex-wrap: wrap;
}

header nav ul {
    display: flex;
}

header nav ul li {
    display: flex;
}

header .left_nav_header li {
    padding-right: 30px;
}

header .right_nav_header li {
    padding-left: 30px;
}


header ul .circle {
    position: relative;
}

header .circle {
    position: relative;
}

header .circle div {
    /* text styling */
    text-align: center;
    font-weight: 700;

    /* size styling */
    height: 15px;
    width: 15px;
    background-color: #C3DAB7;

    /* position styling */
    position: absolute;
    top: 50%;
    left: 50%;

    /* other styles */
    border-radius: 100%;
}

header .circle p {
    font-size: 0.42rem;
    line-height: 15px;
}

.header_line {
    /* layout styling */
    position: absolute;
    bottom: -8%;
    left: 50%;

    /* size styling */
    width: 1px;
    height: 120px;

    /* background styling */
    background: rgba(51, 51, 51, 0.5);
}


/* MAIN STYLING */
/* services styling */
.services {
    background-color: #C3DAB7;
    padding: 150px 0;
}

/* services_imgs styling */
.services_imgs {
    /* layout styling */
    position: relative;
    display: block;
    text-align: center;
}

.services_imgs .circle_text {
    position: absolute;
    bottom: 40%;
    left: 20%;
}

/* services_text styling */
.services_text {
    display: flex;
    margin: 0 120px;
    padding-top: 60px;
    flex-wrap: wrap;
}

.branding {
    text-align: center;
    flex: 1 1 50%;
    min-width: 300px;
}

.branding p {
    padding: 20px 30px;
}

.design_and_develop {
    text-align: center;
    flex: 1 1 50%;
    min-width: 300px;
}

.design_and_develop p {
    padding: 20px 30px;
}

/* testimonials styling */
.testimonials {
    text-align: center;
    padding: 150px 0;
}

/* testimonials_gallery styling */
.testimonials img {
    border-radius: 50%;
}

.testimonials_gallery {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.testimonials_gallery i {
    font-size: 1.5rem;
    color: #333;
    cursor: pointer;
}

.fa-chevron-left {
    margin-left: 80px;
}

.fa-chevron-right {
    margin-right: 80px;
}

/* testimonials text styling */ 
.testimonials p {
    padding-top: 40px;
    margin: 0 auto;
    font-style: italic;
    width: 65%;
}

/* features styling */
.features {
    background: url("creative_assets/home_4.jpeg") no-repeat fixed;
    background-size: cover;
    background-position: 90%;
    height: 90vh;
    padding-top: 10%;
    padding-left: 35%;
}

.features_items {
    display: flex;
    flex-wrap: wrap;
}

.features_items li {
    flex: 1 0 50%;
    display: flex;

    margin-top: 25px;
}

.features_items .icon {
    width: 60px;
    height: 60px;
    border: 1px solid #333333;
    text-align: center;
    line-height: 3;
    border-radius: 50%;
    flex-shrink: 0;
}

.icon i {
    font-size: 1.5rem;
    vertical-align: middle;
    color: #333;
}

.features_text {
    padding-left: 20px;
}

.features_text p {
    padding-top: 5px;
}