.blog_page header {
    /* background styling */
    background: url("../creative_assets/blog_1.jpeg") no-repeat fixed;
    background-size: cover;
    background-position: 50%;

    position: relative;
    /* size styling */
    height: 100vh;

    /* marg/pad styling */
    padding-top: 40px;
}

.blog_page header .nav_items {
    position: relative;
    display: flex;
    justify-content: space-between;
}


.blog_page header .logo {
    position: absolute;
    top: 50%; 
    left: 50%;
    transform: translate(-50%, -50%);
}

.blog_page header nav {
    display: flex;
    width: 100%;
    justify-content: space-between;
    flex-wrap: wrap;
}

.blog_page header nav ul {
    display: flex;
}

.blog_page header nav ul li {
    display: flex;
}

.blog_page header .left_nav_header li {
    padding-right: 30px;
}

.blog_page header .right_nav_header li {
    padding-left: 30px;
}

.blog_page header {
    h2 {
        @include blog_logo;
    }
}

.blog_page header ul .circle {
    position: relative;
}

.blog_page header .circle {
    position: relative;
}

.blog_page header .circle div {
    /* text styling */
    text-align: center;
    font-weight: 700;

    /* size styling */
    height: 15px;
    width: 15px;
    background-color: $secondary;

    /* position styling */
    position: absolute;
    top: 50%;
    left: 50%;

    /* other styles */
    border-radius: 100%;
}

.blog_page header .circle p {
    font-size: 0.42rem;
    line-height: 15px;
}

.blog_page {
    h1 {
        font-size: 2.7rem;
    }
}

.blog_page .article_nav {
    display: flex;
}

.blog_page .blog_article .article_nav {
    span {
        display: inline-block;
        margin-right: 5px;
    }
}

.blog_page .blog_article {
    h1 {
        margin: 80px 0 10px 0;
    }
        li
            a,
            span {
                font-family: $secondary_font;
                text-transform: none;
                font-size: 0.6rem;
                font-weight: normal;
    }
}

.blog_page .info_block {
    margin: 60px 0;
        .profile {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
            border-bottom: $underline_color;
            align-items: center;
        }
            .profile_name {
                grid-column: 1 / span 2;
                display: flex;
                flex-wrap: wrap;
                align-items: center;
            }
            a {
                font-size: 0.6rem;
                font-family: $secondary_font;
                text-transform: none;
            }
}

.blog_page .blog_page a,
.info_block .profile p {
    font-size: 0.6rem;
}

.blog_page .profile {
    width: 100%;
    padding-bottom: 20px;
        .profile_name .img {
            margin-right: 20px;
        }
            img {
                display: block;
                width: 100%;
                border-radius: 50%;
            }
}

.blog_page .info_block .article_text {
    margin: 50px 0 25px 0;
        h4 {
            font-family: $secondary_font;
            letter-spacing: 0.3px;
            text-transform: none;
            font-size: 0.7rem;
            font-weight: bold;
        }

        p {
            margin: 15px 0;
        }
}

.blog_page .info_block .author_links {
    display: flex;
}
        h4 {
            margin-right: 10px;
        }
        .author_social_media {
        display: flex;
            li {
                margin-right: 15px;
            }
}

.blog_page .related_posts {
    margin-bottom: 50px;
        h2 {
            @include blog_h2;
        }
        .related_posts_content 
            p {
                font-family: $primary_font;
                text-transform: uppercase;
                margin-top: 15px;
            }
}

.blog_page .related_posts_content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
        .related_posts_content .post_img
            a {
                display: inline-block;
            }
                img {
                    width: 100%;
                    display: block;
                }
}

.blog_page .comments {
    margin-bottom: 80px;
        h2 {
            @include blog_h2;
        }
}

.blog_page .first_comment,
.blog_page .second_comment {
    display: flex;
    margin-bottom: 30px;
        p {
            font-family: $primary_font;
            margin-top: 5px;
            font-size: 0.65rem;
        }
        .comment_img {
                    margin-right: 30px;
                }
        .comment_box {
            background-color: $tertiary;
            position: relative;
            width: 100%;
            padding: 20px 35px 30px 25px;
                .upper_box {
                    display: flex;
                    align-items: center;
                        h4 {
                            margin: 0;
                            letter-spacing: 0.3px;
                        }

                        span {
                            font-size: 0.9rem;
                            margin: 0 5px;
                        }
                        a {
                            font-size: 0.6rem;
                            text-transform: none;
                            font-style: italic;
                        }
                }
        }
        
        .comment_date {
            p {
                font-size: 0.57rem;
                color: lighten($primary_color, 50);
                margin-top: 10px;
            }
        }
        
}

.comment_box:before {
    right: 100%;
    top: 15%;
    border: solid transparent;
    content: "";
    height: 0;
    width: 0;
    position: absolute;
    border-color: $tertiary transparent transparent transparent;
    border-width: 15px 8px 0 5px;
    transform: rotate(90deg);
}

.blog_page .leave_comments {
    @include form;
    margin-bottom: 180px;
    h2 {
        @include blog_h2;
    }
}