html {
    font-size: 125%;
    scroll-behavior: smooth;
}

.wrapper {
    max-width: 1280px;
    width: 80%;
    margin: 0 auto;
}


h1,
h2,
h3,
h4 {
    /* font styling */
    font-family: $primary_font;
    color: $primary_color;
    text-transform: uppercase;

    /* marg/pad styling */
    padding: 0;
    margin: 0;
}

h1 {
    font-size: 1.8rem;
    font-weight: 700;
    letter-spacing: 0.9px;
}

h2 {
    font-size: 0.9rem;
    font-weight: 400;
    letter-spacing: 1.8px;
    line-height: 24px;
}

h3 {
    font-size: 0.75rem;
    letter-spacing: 1.8px;
    line-height: 24px;
    font-weight: 400;
}

h4 {
    font-size: 0.65rem;
    letter-spacing: 1.8px;
    line-height: 24px;
    font-weight: 400;
    margin-bottom: 20px;
}

p,
address {
    /* font styling */
    font-family: $secondary_font;
    color: $primary_color;
    font-size: 0.7rem;
    letter-spacing: 0.3px;
    line-height: 24px;

    /* marg/pad styling */
    padding: 0;
    margin: 0;
}

address {
    font-style: normal;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    font-family: $primary_font;
    color: $primary_color;
    text-transform: uppercase;
    font-size: 0.7rem;
    text-decoration: none;
}

i {
    font-size: 0.7rem;
    color: $primary_color;
}

span {
    display: inline-block;
}