$primary_color: rgba(51, 51, 51, 1);
$secondary: rgba(195, 218, 183, 1);
$underline_color: 1px solid lighten($primary_color, 70);
$tertiary: rgba(246, 246, 246, 1);
$primary_font: 'Montserrat', Arial, Helvetica, sans-serif;
$secondary_font: 'Open Sans', Arial, Helvetica, sans-serif;
